<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE tiles-definitions PUBLIC
       "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
       "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>
	<!-- Base Definition -->
	<definition name="base-definition" template="/WEB-INF/views/template/base-template.jsp">
		<put-attribute name="header" value="/WEB-INF/views/template/header.jsp"/>
		<put-attribute name="sidebar" value="/WEB-INF/views/template/sidebar.jsp"/>
		<put-attribute name="body" value=""/>
	</definition>
	
	<!-- Home Page -->
	<definition name="home" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/template/body.jsp"/>
	</definition>
	
	<!-- Dashboard Page 
	<definition name="dashboard-home" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/dashboard.jsp"/>
	</definition>
	-->

	<!-- Asesor Pages -->
	<definition name="asesor-list-paginated" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/asesor/asesorListPaginated.jsp"/>
	</definition>
	<definition name="asesor-form" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/asesor/asesorForm.jsp"/>
	</definition>
	
	<!-- Beca Pages -->
	<definition name="beca-form" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/beca/becaForm.jsp"/>
	</definition>
	<definition name="beca-list-paginated" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/beca/becaListPaginated.jsp"/>
	</definition>
	<definition name="beca-dashboard" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/beca/becaDashboard.jsp"/>
	</definition>

	<!-- Becario Pages -->
	<definition name="becario-list-paginated" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/becario/becarioListPaginated.jsp"/>
	</definition>
	<definition name="becario-form" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/becario/becarioForm.jsp"/>
	</definition>
	<definition name="becario-form-estado" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/becario/becarioFormEstado.jsp"/>
	</definition> 
	<definition name="becario-show" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/becario/becarioShow.jsp"/>
	</definition>
	<definition name="becario-resultado-busqueda-por-dni" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/becario/becarioResultadoBusquedaPorDni.jsp"/>
	</definition>
	

	<!-- IES Pages --> 
	<definition name="ies-list-paginated" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/ies/iesListPaginated.jsp"/>
	</definition>
	<definition name="ies-form" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/ies/iesForm.jsp"/>
	</definition>
	
	
	
	<!-- Pago Academico Pages -->
	<definition name="pagoAcademico.list" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/pagoAcademico/pagoAcademicoList.jsp"/>
	</definition>
	<definition name="pagoAcademico.form" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/pagoAcademico/pagoAcademicoForm.jsp"/>
	</definition>

	<!-- Tramite Pages -->
	<definition name="tramite.list" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/tramite/tramiteList.jsp"/>
	</definition>
	<definition name="tramite.form" extends="base-definition">
		<put-attribute name="body" value="/WEB-INF/views/tramite/tramiteForm.jsp"/>
	</definition>

</tiles-definitions>